footer.footer-distributed
    .footer-right
        p.footer-company-about
            span درباره پازل
            | گروه پازل با بهره‌گیری از جدیدترین تکنولوژی های روز، بستری فراهم دیده است تا شما بتوانید به راحتی پخش زنده همایش‌ها، کلاس‌ها و ایونت های خود را بدون استرس از مشکلات پیش‌بینی نشده انجام دهید.
        .footer-icons
            a(href="https://www.instagram.com/puzzlestudio_org/")
                i.fa.fa-instagram
            a(href="https://t.me/puzzlestudio")
                i.fa.fa-telegram
            a(href="https://www.aparat.com/Puzzle.Studio.Group/")
                i.fa.fa-video
    .footer-center
        div
            p
                span کوچه مصطفوی(27 غربی)، پلاک 23، واحد 7، دفتر پازل
                | ستارخان تهران، خسرو جنوبی
            i.fa.fa-map-marker
        div
            p 021 4420 1321
            i.fa.fa-phone
        div
            p
                a(href="mailto:Puzzle.studio.group@gmail.com") Puzzle.studio.group@gmail.com
            i.fa.fa-envelope
    .footer-left
        h3   پازل
            span استودیو
        p.footer-links
            a.link-1(href="#")
                | سوالات متداول
            a(href="#") مقالات
            a(href="#") معرفی پازل
            a(href="#") خانه
        p.footer-company-name شرکت نوین ارتباطات زرین لوتوس © 2022
    .last-bar
        p تمامی  حقوق این وبسایت متعلق به گروه پازل &amp;copy;  میباشد