header#header.dark-bg
	nav
		.nav-links
			a(href='http://127.0.0.1:3000') خانه&nbsp;
			a(href='http://127.0.0.1:3000/projects/recent/15') پروژه های اخیر
			a(href='http://127.0.0.1:3000/comingSoon') تماس با ما
			img(src="http://127.0.0.1:3000/img/logoHorizontal.png")
	h1.header-text گــــــروه&nbsp;
		span پــــــازل