header#header.dark-bg
    nav
        .nav-links
            a(href="./contact.html")
                | &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; خانه&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;
                | &amp;nbsp; &amp;nbsp;|
            a(href="./contact.html")
                | &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;پروژه های
                | اخیر&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;|
            a(href="./contact.html")
                | &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;تماس با ما
                | &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;
            img(src="img/logoHorizontal.png", alt=)
    h1.header-text گــــــروه
        span پــــــازل
