extends base

block content
	.err
		h1 ๐๐  ุตูุญู ููุฑุฏ ูุธุฑ ุดูุง ุงูุช ูุดุฏ๐๐
		p ๐  ูุทูุง ุงู ููุฑุฏ ุฑุง ุจู ูพุดุชุจุงู ุงุทูุงุน ุฏูุฏ  ๐
		p=msg
		a.btn(href='http://127.0.0.1:3000') ุจุงุฒฺฏุดุช