doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='css/style.css')
        title  Puzzle Group | گروه پازل
    body
        header#showcase
            .container
                nav
                    img(src='img/logoHorizontal.png', alt=)
                    .nav-links
                        a(href='./project.html')
                            | &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; خانه&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &amp;nbsp;
                            | &amp;nbsp;
                        | |
                        a(href='./contact.html') &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;پروژه های اخیر&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;
                        | |
                        a(href='./contact.html') &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;تماس با ما &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;
                .logo-container
                    #puzzle-piece-container.piece-container
                        a(href='https://puzzle-stu.com', target='_blank')
                            .piece
                                img(src='./img/logo/puzzle-logo.png', alt=)
                                .piece-text
                                    h2 گروه پازل
                                    p
                                        | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                    #programming-piece-container.piece-container
                        a(href='#programming', target='_blank')
                            .piece
                                img(src='./img/logo/programming-logo.png', alt=)
                                .piece-text
                                    h2 نرم افزار
                                    p
                                        | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                    #adds-piece-container.piece-container
                        a(href='#adds')
                            .piece
                                img(src='./img//logo//adds-logo.png', alt=)
                                .piece-text
                                    h2 تولید محتوا
                                    p
                                        | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                    #studio-piece-container.piece-container
                        a(href='#studio')
                            .piece
                                img(src='./img/logo/studio-logo.png', alt=)
                                .piece-text
                                    h2 تصویر برداری
                                    p
                                        | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
        section#recent-projects.dark-bg
            .scrolling-wrapper
                .cards-2
                    .card-2
                        a(href='#')
                            h2.card-title-2 1پروژه فلان
                            img(src='./img/project.jpg', alt=)
                            p.card-desc-2
                                | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                    .card-2
                        a(href='#')
                            h2.card-title-2 7پروژه فلان
                            img(src='./img/project.jpg', alt=)
                            p.card-desc-2
                                | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
        section#studio.dark-bg
            .divider.divider-studio
                h2 تصویر بردای با پازل
            .slogan-bg.slogan-bg-studio
                .slogan.slogan-studio
                    h2
                        | شعار خیلی
                        span خاص
                        | ترجیحا کوتاه
            .container
                .divider.divider-studio
                    h2 استودیو های پازل
                #studio-content
                    .intro
                        .intro-list.studio-list
                            ul
                                li
                                    .box
                                        h3  دو استودیو در ستارخان تهران
                                            i.fa.fa-circle-arrow-left
                                        p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                li
                                    .box
                                        h3 دو استودیو در انقلاب تهران
                                            i.fa.fa-circle-arrow-left
                                        p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                li
                                    .box
                                        h3 دو استودیو در دربتد تهران
                                            i.fa.fa-circle-arrow-left
                                        p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                li
                                    .box
                                        h3 دو استودیو در ولنجک تهران
                                            i.fa.fa-circle-arrow-left
                                        p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                        .intro-img-title
                            img.logo(src='./img/logo/studio-logo.png', alt=)
                            h1  استودیو پازل
                            img(src='./img/studio.jpg', alt=)
                            img(src='./img/studio.jpg', alt=)
                    .divider.divider-studio
                        h2 سالن های همایشات
                    #hall-content
                        .intro
                            .intro-img-title
                                img.logo(src='./img/logo/studio-logo.png', alt=)
                                h1  استودیو پازل
                                img(src='./img/hall.jpg', alt=)
                            .intro-list.studio-list
                                ul
                                    li
                                        .box
                                            h3 تالار همایش ۷۰۰ نفره
                                                i.fa.fa-circle-arrow-left
                                            p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                    li
                                        .box
                                            h3 سالن همایش ۲۰۰ نفره
                                                i.fa.fa-circle-arrow-left
                                            p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                    li
                                        .box
                                            h3 سالن همایش با ظرفیت کم تر
                                                i.fa.fa-circle-arrow-left
                                            p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                .divider.divider-studio
                    h2 تصویر برداری سیار
                #live-content
                    .card-container-1
                        .card-1
                            a(href='#0', aria-labelledby='person1')
                            img(src='./img/van.jpg', alt=)
                            .card-overlay-1
                                h3#person1(aria-hidden='true') وَن پخش زنده
                                .card-body-1
                                    p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        .card-1
                            a(href='#0', aria-labelledby='person2')
                            img(src='./img/camera-man.jpg', alt=)
                            .card-overlay-1
                                h3#person2(aria-hidden='true') کَمِرا مَن و باکس سوئیچ
                                .card-body-1
                                    p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
        footer.footer-distributed
            .footer-right
                p.footer-company-about
                    span درباره پازل
                    | گروه پازل با بهره‌گیری از جدیدترین تکنولوژی های روز، بستری فراهم دیده است تا شما بتوانید به راحتی پخش زنده
                    | همایش‌ها، کلاس‌ها و ایونت های خود را بدون استرس از مشکلات پیش‌بینی نشده انجام دهید.
                .footer-icons
                    a(href='https://www.instagram.com/puzzlestudio_org/')
                        i.fa.fa-instagram
                    a(href='https://t.me/puzzlestudio')
                        i.fa.fa-telegram
                    a(href='https://www.aparat.com/Puzzle.Studio.Group/')
                        i.fa.fa-video
            .footer-center
                div
                    p
                        span کوچه مصطفوی(27 غربی)، پلاک 23، واحد 7، دفتر پازل
                        | ستارخان تهران، خسرو جنوبی
                    i.fa.fa-map-marker
                div
                    p 021 4420 1321
                    i.fa.fa-phone
                div
                    p
                        a(href='mailto:Puzzle.studio.group@gmail.com') Puzzle.studio.group@gmail.com
                    i.fa.fa-envelope
            .footer-left
                h3  پازل
                    span استودیو
                p.footer-links
                    a.link-1(href='#')
                        | سوالات متداول
                    a(href='#') مقالات
                    a(href='#') معرفی پازل
                    a(href='#') خانه
                p.footer-company-name شرکت نوین ارتباطات زرین لوتوس © 2022
            .last-bar
                p تمامی حقوق این وبسایت متعلق به گروه پازل &amp;copy; میباشد
        script(src='./js/styles.js')
        script(src='https://kit.fontawesome.com/bda3bac429.js', crossorigin='anonymous')